@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_primary{
    @apply bg-[#F1F1F1]
}

.bg_secondary {
    @apply bg-[#5FC7AE]
}

.active {
    background-color:#F1F1F1 ;
    border-radius: 15px;
    padding: 6px 10px 10px;

}